body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
  color: black
}

label {
  display: block;
  margin: 0.5rem 0;
}

h1 {
    color: darkblue
}

input {
    display: block;
}

#submit {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


